body{background-image: url("../images/601_1.jpg");margin:0 auto;padding:0 ;text-align: center;background-size: 100%;}
.box{margin:200px auto;width: 450px;margin-left:20%;}
.box .clear{clear:both;}
.box a:link, a:visited { color:#fff; text-decoration:none; } 
.box a:hover, a:active { color:#2a445a; text-decoration:underline;}
.box form{margin:10px;}
.box .position{margin:30px;}
.box .sub{background:#91b8da; border:1px solid #D5E5F5; width:65px; height:25px; color:#3B80BC; font-weight:bold;cursor:pointer;border-radius: 6px;}
.box .leftbox{width:238px;float:left;color: #FFFFFF;margin: 10px;}
.box .sub{ margin-left:13px;margin-top: 10px;float:left;}
.box .file{font-size:12px;width:224px;}
.box table,tr,td{background:rgba(45,45,45,.15);color:#fff;width:700px; border:1px solid #DCE9F7; border-collapse:collapse;margin:10px;}
.box th{color: #2a445a;}
.box table tr:nth-child(1){ height:30px; background:#F7FAFE;font-weight: bold; color:#367CBA;}
.box table .filename{ font-weight: bold; color:#FFFFFF;} 
.box table td{padding:5px 10px;}
.box .error{ border:1px solid #FF0000; background:#FFDFDF; color:#FF0000;}
.box input[type = "submit"]:hover{
    background: #2a445a;
}
.box input[type = "text"]:focus {
    width: 220px;
    border-color:#66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.box input[type="text"]{width:180px;text-align: center;border:1px solid #dfe6e9;height:20px;outline: none;background: none;transition: 0.25s;border-radius: 6px;}
