body{background-image: url("../images/205_1.jpg");margin:0 auto;padding:0 ;text-align: center;background-repeat: no-repeat;background-size: cover;}
.box{width:450px;margin:100px auto;padding:25px;}
.box h1{color: #ecf0f1;font-size:20px;text-align:center;}
.profile-table{margin:0 auto;}
.profile-table th{color: #ecf0f1;font-weight:normal;text-align:right;}
.profile-table input{width:270px;height:42px;line-height:42px;margin-top:25px;padding:0 15px;background:#2d2d2d;background:rgba(45,45,45,.15);-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #3d3d3d;border:1px solid rgba(255,255,255,.15);-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;font-family:"Microsoft YaHei",Helvetica,Arial,sans-serif;font-size:14px;color:#fff;text-shadow:0 1px 2px rgba(0,0,0,.1);-o-transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s}
.profile-table button{cursor:pointer;margin-top:30px;width:70px;height:30px;margin-top:25px;padding:0;  background: rgba(6, 127, 228, 0.71);-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:0;-moz-box-shadow:0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,.2);cursor:pointer;font-family:"Microsoft YaHei",Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;color:#fff;text-shadow:0 1px 2px rgba(0,0,0,.1);-o-transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s}
.profile-table .td-btn{text-align:center;padding-top:10px;}
.profile-table th,.profile-table td{padding-bottom:10px;}
.profile-table td{font-size:14px;}
.profile-table .txttop{vertical-align:top;}
.profile-table select{border:1px solid #ccc;min-width:80px;height:25px;}
.profile-table .description{font-size:13px;width:250px;height:60px;border:1px solid #ccc;}
.p_box{ width:190px; margin:0 auto; padding:0 auto ;}
.p_box button{cursor:pointer;width:70px;height:30px;padding:0;  background: rgba(6, 127, 228, 0.71);-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:0;-moz-box-shadow:0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,.2);font-family:"Microsoft YaHei",Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;color:#fff;text-shadow:0 1px 2px rgba(0,0,0,.1);-o-transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s}

.upload {  
    position: relative;  
    display: inline-block;  
    font-size: 13px;
    width: 100px;
    height:16px;
    border: 1px solid #ecf0f1;   
    padding: 4px 12px;  
    overflow: hidden;  
    color:#ecf0f1;
    background:#b6efff69; 
    text-decoration: none;  
    text-indent: 0;  
    line-height: 20px; 
    border-radius:6px;
    cursor: pointer;


}  
.upload input {  
    position: absolute;  
    font-size: 100px;  
    font-weight: bold;
    right: 0;  
    top: 0;  
    opacity: 0;  
}  
.upload:hover {  
    background: #fff;  
    border-color: #ecf0f1;  
    color: #004974;  
    text-decoration: none;  
}  
img{ padding:2px;border:1px solid #999; margin: 10px 30px auto;}
label{color:#ecf0f1;}
.exist{ float:left;}
.upload{ clear:both;}
h2{ padding-left:60px;font-size:20px;}
/*.sub{color:#ecf0f1;width:85px; height:30px; cursor:pointer; margin-top:5px;border-radius: 24px;border: 1px solid #ecf0f1;background: #b6efff69;}*/
.profile-table input[type = "reset"]:hover,input[type = "submit"]:hover,input[type = "button"]:hover{
    background: #428cd4;
}
.profile-table input[type = "text"]:focus {
    width: 200px;
    border-color:#66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}